.header-main {
  background-color: var(--main-bg-color); 
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.nav-bg {
  background-color: var(--main-bg-color); 
}

.jumbotron {
  border-radius: 0;
}