.lkw-content {

  h2 {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
}

.preise {
  padding-bottom: 3rem;

  h2 {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }

  &__table {
    padding-bottom: 3rem;
  }
}

.kontakt {

  h2 {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }

  &__forms {
    padding-top: 3rem;
  }
}

.agb-content, .impressum-content, .sponsor-content {

  h2 {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
}